main{
width: 100%;
height: fit-content;
padding: 10px;
background: #FFFFFF;
margin: 10px 0;
}

.main-container{
  background-image:
    linear-gradient( rgba(19, 19, 20, 0.10), rgba(0, 0, 0, 0.10)),
    url('../assets/images/main-bg1.avif');
  width: 90%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  aspect-ratio: 1/1;
  margin: auto;
}