.addCategryForm{
    width: 100vw;
    height: 70dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCategryForm form{ 
    width: 50%;
    height: 70%;
    margin-top: 250px;
}