.register-section {
  width: 100%;
  height: 100dvh;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.register-section >div {
  width: 45%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px 20px;
  background: #f8f8ff;
}

.register-section .bg {
  background-image: url('../assets/images/woman.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.register-section .heading {
  text-align: center;
  margin-bottom: 10px;
}

.register-section .heading h2{
  font-size: 2em;
  margin-bottom: 5px;
}
.register-section .heading p{
  font-size: 1.1em;
}







.register-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 0;
  gap: 0.5em;
}

.register-section div form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register-section div form > div input:not(input[type="checkbox"]) {
  width: 100%;
  border: none;
  outline: none;
}

.register-section .name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-section div form .email input,
.register-section div form .password input,
.register-section div form .confirme-pass input,
.register-section div form .last-name input,
.register-section div form .first-name input{
  padding: 8px;
  border: 1px solid var(--midel-light_grey) !important;
  font-size: 16px;
  width: 100%;
}

.register-section div form .last-name,
.register-section div form .first-name{
  width: 45%;
} 

.register-section div form .email label,
.register-section div form .password label,
.register-section div form .last-name label,
.register-section div form .confirme-pass label,
.register-section div form .first-name label {
  padding-bottom: 5px;
}

.register-section .remember,
.register-section .sbumit {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.register-section .sbumit a {
  font-size: 10px;
  text-decoration: underline;
}

.register-section .sbumit button {
  width: fit-content;
  padding: 10px 40px;
  border: 1px solid var(--blue-1);
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  font-size: 19px;
  cursor: pointer;
}

.register-section .sbumit button span {
  position: relative;
}
.register-section .sbumit button span .icon {
  position: absolute;
  font-size: 19px;
  bottom: -10px;
  left: 10px;
  
}

.register-section .sbumit button:hover {
  background: var(--blue-1);
  color: #ffffff;
}

.register-section .sbumit button:hover span .icon {
  transform: scale(1.1);
}

.register-section .forms {
  flex-direction: column;
}





.register-section  span.error-message {
  color: #dc3545;
  display: block;
  margin-top: 4px;
  font-size: 0.875em;
}

@media only screen and (max-width: 800px) 
{
  .register-section {
    flex-direction: column;
  }

  .register-section >div {
    width: 80%;
    margin: auto;
  }

  .register-section .bg{
    min-height: 200px ;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
  
}


@media only screen and (max-width: 320px) 
{
  .register-section .bg{
    margin-top: 100px;
  }

  .register-section .heading h2{
    font-size: 1.5em;
  }
  .register-section .heading p{
    font-size: .8em;
  }

  .register-section .name{
    flex-direction: column;
  }

  .register-section div form .last-name,
  .register-section div form .first-name{
    width: 100%;
  } 


  .register-section .sbumit button {
    
    padding: 5px 20px;
    font-size: 15px;
  }

  .register-section .sbumit button span .icon {
   
    font-size: 14px;
    bottom: -8px;
    left: 3px;
    
  }
}
